<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-start">
        <mat-form-field class="m-2">
            <mat-label>City</mat-label>
            <mat-select
                placeholder="City"
                [(value)]="currentCity"
                (selectionChange)="getWeather()"
            >
                <mat-option
                    *ngFor="let city of cities"
                    [value]="city"
                >{{ city.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="m-2">
            <mat-label>Number of previous days</mat-label>
            <mat-select
                placeholder="No. of previous days"
                [(value)]="selectedPreviousDays"
                (selectionChange)="getWeather()"
            >
                <mat-option
                    *ngFor="let day of previousDays"
                    [value]="day"
                >{{ day }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</nav>

<div class="page">
    <ng-container *ngIf="($weather | async) as weather; else loading">
        <div class="row">
            <div
                class="col"
                *ngFor="let item of weather"
            >
                <app-weather-card
                    [weather]="item"
                    [city]="currentCity"
                ></app-weather-card>
            </div>
        </div>
    </ng-container>

    <ng-template #loading>
        <div class="loader ">
            <div
                class="spinner-border"
                role="status"
            >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>