.page {
  min-height: 100vh;
  background: lightblue;

  .loader {
    height: inherit;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
