<div class="container pt-5">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="weather-card">
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                <div class="p-3 me-4">
                    <h5>{{ weather?.time | date }}</h5>
                    <h3>{{ city?.name }}</h3>
                    <span class="weather-description">{{ decodeWeather(weather?.weatherCode)?.label }}</span>
                </div>
                <div class="p-3">
                    <i
                        class="bi"
                        [class]="decodeWeather(weather?.weatherCode)?.icon"
                        style="font-size: 62px;"
                    ></i>
                </div>
                <div class="col">
                    <div class="p-3 row">
                        <label class="m-0 col pe-0">max</label>
                        <h2 class="m-0 col">{{ weather?.max_temperature }}{{ weather?.temperature_unit }}</h2>
                    </div>
                    <div class="p-3 row">
                        <label class="m-0 col pe-0">min</label>
                        <h2 class="m-0 col">{{ weather?.min_temperature }}{{ weather?.temperature_unit }}</h2>
                    </div>
                </div>
            </div>
            <div class="weather-status d-flex flex-column flex-md-row justify-content-center align-items-center mt-3">
                <div class="p-4 d-flex justify-content-center align-items-center">
                    <i class="bi bi-sunrise me-1"></i>
                    <span>{{ weather?.sunrise }}</span>
                </div>
                <div class="p-4 d-flex justify-content-center align-items-md-center">
                    <i class="bi bi-sunset me-1"></i>
                    <span>{{ weather?.sunset }}</span>
                </div>
                <div class="p-4 d-flex justify-content-center align-items-center">
                    <i class="bi bi-droplet me-1"></i>
                    <span>{{ weather?.precipitation }}{{ weather?.precipitation_unit }}</span>
                </div>
            </div>
        </div>
    </div>
</div>